body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background: #ffffff;
}
h1 {
  color: #ffffff;
}
ul {
  list-style-type: none;
}

/*--header--*/

.header {
  color: #ffffff;
}
.header-link {
  color: #434455;
}
.header-link:hover {
  color: #404bbf;
  cursor: pointer;
}

/*-- name --*/
.section-name {
  background: #2e2f42;
}

.button-service {
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.button-service:hover {
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/*pages*/

.button-portfolio {
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.button-portfolio:hover {
  background: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}
p
/*advantages*/
.advantages-text {
  color: #434455;
}

/*our-team*/
.our-team {
  background: #f4f4fd;
}

/*footer*/
.footer {
  background: #2e2f42;
}
.footer-text {
  color: #e7e9fc;
}
